footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.foot-container {
    position: relative;
width: 100%;
background-color: #9dd558;
height: 340px;
display: flex;
align-items: center;
justify-content: space-evenly;

}

 .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.foot-summury p{
font-size: 30px;
font-style: normal;
line-height: normal;
text-transform: uppercase;
display: flex;
flex-direction: column;
}
.foot-summury small {
    color: white;
font-size: 26px;
font-style: normal;
font-weight: 100;
line-height: normal;
}
.main-info p{
  font-size: 1.2rem;
  text-align: center;
}

.main-links {
    margin-top: 25px;
    margin-right: 45px;
    display: flex;
    justify-content: center;
}
.main-links ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.main-links ul li a {
    cursor: pointer;
}

.main-links ul li a img:hover {
    transform: scale(1.2);
}


.buyer-info {
    display: flex;
    gap: 50px;
    align-items: center;
}
.buyer-info div {
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.buyer-info div a {
    text-decoration: none;
    font-family: 'Sarabun', sans-serif;
    margin-top: 10px;
}


.rights {
    margin-top: -10px;
    border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
width: 100%;
background-color: #9dd558;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.rights h4 {
    font-weight: 100;
}



@media screen and (max-width:600px) {
    .foot-container {
        height: auto; 
        padding: 20px; 
        border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
flex-direction: column;
    }

    .main-links ul {
        flex-direction: row; 
        justify-content: center; 
    }

    .main-info p {
        display: none;
    }

}


@media screen and (max-width:1300px) {
    .foot-container {
        height: auto; 
        padding: 20px; 
        border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
flex-direction: column;
    }

    .main-links ul {
        flex-direction: row; 
        justify-content: center; 
    }



}