.car-div-img img{
  vertical-align: top;
  height: 400px;
}
.thumb img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
}


@media screen and (max-width:1300px) {
    .car-div-img img{
        height: auto;
      }
      .thumbs {
        margin-left: 0;
      }
}