.bike_container {
    width: 100%;
    display:  flex;
  flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 100px;
 }
 h3 {
    font-weight: 100;
    color: black;
 }

 .bike-info-container {
    padding: 15px;
    border-radius: 20px;
 }

.info_sum{
text-align: center;
    font-weight: 100;
text-transform: uppercase;
}

.inner_info_sum{
    font-weight: 100;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: black;
}



button {
    background-color: #9dd558;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover {
    background-color: #8cbe00;
}

.go-back{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: 100;
    font-size: 1rem;
    width: 150px;
    height: 50px;
    background-color: #9dd558;
    border-radius: 15px;
    transition: display 5s ease-in-out;
    transition: transfrom 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.back-sum{
    display: none;
}
.go-back img{
    width: 18px;
    height: 18px;
}
.go-back:hover img{
    transform: translateX(-25px);

}
.go-back:hover{
    background-color: #8cbe00;
}
.go-back:hover .back-sum{
    display: block;
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 18px;
}
.link_back {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 20px;
    width: 160px;
    align-items: center;
}
.bike-desq {
    font-weight: 100;
    width: 450px;
}
.b-cost span {
    color: red;
}



.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.add_but {
    display: flex;
    justify-content: center;
}

.cart_bt {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_bt p {
  text-transform: uppercase;
}

.carousel {
    cursor: pointer;
}
.comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.comments-container h2 {
    font-weight: 100;
}
.type-container button {
    color: black;
}
.type-container button:active {
    color: white;
    background-color: black;
}


.type-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:50px;
    width: 40%;
}

.btns-container {
    display: flex;
   justify-content: center;
}
.comment {
    overflow: auto;
}
.bp-fav {
    cursor: pointer;
    width: 42px;
    margin-left: 15px;
}


.total-comments {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    margin-top: 50px;
}

.comment {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .comment-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .comment-head h3 {
    margin: 0;
  }
  
  .comment-head small {
    font-size: 0.8em;
    color: #666;
  }
  
  .comment-head .time {
    color: #999;
    margin: 0;
  }
  

  .com-btn button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .com-btn button img {
    width: 20px;
    height: 20px;
  }
  .bike-desq {
    font-family: 'Patua One', serif;
  }

  .comment h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 100;
    margin: 0;
    margin-top: 20px;
    word-break: break-all;
    font-family: 'Patua One', serif;
  }
  .carousel .slide img {
    width: 100%;
  }
  .comment-avatar {
    width: 42px;
    border-radius: 20px;
}
.comm-from {
    display: flex;
    align-items: center;
    gap: 5px;
}

  @media screen and (max-width:600px) {
    .bike_container {
        flex-direction: column;
    }
    .info_img {
        width: 300px;
        height: 250px;
    }
    .go-back {
        width: 90%;
    }
   .type-container {
    flex-direction: column;
    gap: 15px;
    width: 80%;
   }
   .new-text {
    height: 100px;
   }
   .bike-desq {
    font-weight: 100;
    width: auto;
}
.bike-info-container {
    margin-top: -80px;
}
}

@media (min-height:1000px) and (max-height:1300px) {
    .bike_container {
        flex-direction: column;
    }
    .bike-info-container {
        margin-top: -80px;
    
    
    }
    .carousel .slide img {
        width: 50%;
    }
}