.new-fav-container{
display: block;
}
.load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.load-container.hidden{
    display:none;
}
.new-fav-container.hidden {
    display: none;
}